{% extends 'index.html' %}

{% block title %}
Виды массажа
{% endblock %}

{% block content %}
    <br>
    <h2>У нас представлено {{types.count}} типов массажа, которые Вы можете попробовать</h2>
    <br>

    <div class="btn-group">

        <form method="get" action="{% url 'masters-list'%}">
            <button class="button button__nav"><< к списку мастеров</button>
        </form>

        {% if user.is_staff %}
            <form method="post" action="{% url 'type-create'%}">
                {% csrf_token %}
                <button class="button button__staff">добавить направление</button>
            </form>
        {% endif %}
    </div>

    <br>
    {% if types %}
        <br>
        {% for elem in types %}
            <div class="banner_mini">

                <div class="pic">
                    {% if elem.massage_cover %}
                        <img class="img_mini" src="{{elem.massage_cover.url}}" alt="">
                    {% else %}
                        <h4> No Photo</h4>
                    {% endif %}
                </div>

                <div class="text">
                    <p><span class="bold_title">{{elem.name}}</span></p>
                    <p><span class="bold_title">Стоимость: </span>{{elem.cost}} BYN.</p>
                </div>

                <form method="get" action="{% url 'types-detail' elem.id %}">
                    <button class="button button__detail">подробнее >></button>
                </form>

            </div>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}
