{% extends 'index.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
    <br>
    <h2>Немного о нас</h2>
    <div class="banner">
        <p>Мы - молодая студия профессионалов в Минске.</p>
        <p>
                Мы любим делать людей счастливыми и поэтому любое посещение нашей студии оставит только
                приятные воспоминания.
        </p>
        <p>Мы всегда на связи и готовы ответить на все Ваши вопросы и помочь в выборе.</p>
        <p>Мы рады видеть каждого и поэму чай/кофе ждут Вас в нашей студии вместе с нами.</p>

        <br>
        <br>
        <br>

        <div class="btn-group">

            <form method="get" action="{% url 'news-list'%}">
                    <button class="button button__nav">к списку новостей >></button>
            </form>

            <form method="get" action="{% url 'types-list'%}">
                <button class="button button__nav">к списку услуг >></button>
            </form>

             <form method="get" action="{% url 'massage-session-create'%}">
                {% csrf_token %}
                <button class="button button__detail">записаться</button>
             </form>

        </div>
    </div>
{% endblock %}
