{% block content %}
    <form method="post" action="{% url 'comment-create' master.id%}">
        {% csrf_token %}
        <button class="add_button">Написать отзыв</button>
    </form>

    <br>

    {% if master.comments.all %}
        {% for comment in master.comments.all %}
            <div class="banner_comment">
                <div class="text">
                    <p><span class="bold_title">Оценка: </span>{{comment.rating}}</p>
                    <p><span class="bold_title">Дата: </span>{{comment.created_at|date:"d.m.Y в H:i"}}</p>
                    <p class="line"></p>
                    <p>{{comment.content}}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}
