{% extends 'index.html' %}

{% block title %}
Подробности
{% endblock %}

{% block content %}
    <br>
    <form method="get" action="{% url 'masters-list'%}">
<!--        <button class="nav_button"><< к списку мастеров</button>-->
        <button class="button button__nav"><< к списку мастеров</button>
    </form>
    <br>
    {% if master %}
        <h2> {{master}}</h2>
        <br>
        <div class="banner">
            <div class="pic">
                {% if master.master_foto %}
                    <img src="{{master.master_foto.url}}" alt="">
                {% else %}
                    <h4> No Photo</h4>
                {% endif %}
            </div>
            <div class="text">
                <p><span class="bold_title">Рейтинг: </span>{{master.master_rating}}</p>
                <p><span class="bold_title">О мастере:</span></p>
                <p>{{master.about_master}}</p>
                <p><span class="bold_title">Виды массажа:</span></p>
                {% if master.master_types.all %}
                    <ul>
                        {% for type in master.master_types.all %}
                            <li>{{type.name}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <span> уточняйте у администратора</span>
                {% endif %}
            </div>
        </div>
        <br>
        <h2>Количество отзывов: {{master.comments.count}}</h2>
        {% include "comments/comment_detail.html"%}
    {% else %}
        <h1>NOT FOUND</h1>
    {% endif %}
{% endblock %}
